In [103]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 1000)

In [104]:
flights = pd.read_csv('flights.csv', low_memory=False)

In [105]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,21.0,15.0,205.0,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,12.0,14.0,280.0,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,18.0,-2.0,16.0,34.0,286.0,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,15.0,-5.0,15.0,30.0,285.0,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,24.0,-1.0,11.0,35.0,235.0,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
airlines = pd.read_csv('airlines.csv')
airlines.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [9]:
airports = pd.read_csv('airports.csv')
airports.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [10]:
flights.describe()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,...,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
count,5819079.0,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.732926e+06,5.732926e+06,5.730032e+06,5.730032e+06,...,5.819079e+06,5.726566e+06,5.714008e+06,5.819079e+06,5.819079e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06
mean,2015.0,6.524085e+00,1.570459e+01,3.926941e+00,2.173093e+03,1.329602e+03,1.335204e+03,9.370158e+00,1.607166e+01,1.357171e+03,...,1.493808e+03,1.476491e+03,4.407057e+00,2.609863e-03,1.544643e-02,1.348057e+01,7.615387e-02,1.896955e+01,2.347284e+01,2.915290e+00
std,0.0,3.405137e+00,8.783425e+00,1.988845e+00,1.757064e+03,4.837518e+02,4.964233e+02,3.708094e+01,8.895574e+00,4.980094e+02,...,5.071647e+02,5.263197e+02,3.927130e+01,5.102012e-02,1.233201e-01,2.800368e+01,2.143460e+00,4.816164e+01,4.319702e+01,2.043334e+01
min,2015.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-8.200000e+01,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,-8.700000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2015.0,4.000000e+00,8.000000e+00,2.000000e+00,7.300000e+02,9.170000e+02,9.210000e+02,-5.000000e+00,1.100000e+01,9.350000e+02,...,1.110000e+03,1.059000e+03,-1.300000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2015.0,7.000000e+00,1.600000e+01,4.000000e+00,1.690000e+03,1.325000e+03,1.330000e+03,-2.000000e+00,1.400000e+01,1.343000e+03,...,1.520000e+03,1.512000e+03,-5.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,3.000000e+00,0.000000e+00
75%,2015.0,9.000000e+00,2.300000e+01,6.000000e+00,3.230000e+03,1.730000e+03,1.740000e+03,7.000000e+00,1.900000e+01,1.754000e+03,...,1.918000e+03,1.917000e+03,8.000000e+00,0.000000e+00,0.000000e+00,1.800000e+01,0.000000e+00,1.900000e+01,2.900000e+01,0.000000e+00
max,2015.0,1.200000e+01,3.100000e+01,7.000000e+00,9.855000e+03,2.359000e+03,2.400000e+03,1.988000e+03,2.250000e+02,2.400000e+03,...,2.400000e+03,2.400000e+03,1.971000e+03,1.000000e+00,1.000000e+00,1.134000e+03,5.730000e+02,1.971000e+03,1.331000e+03,1.211000e+03

In [107]:
flights.loc[(flights['MONTH'] == 4)]

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
1403471,2015,4,1,3,AS,108,N760AS,ANC,SEA,5,6.0,1.0,9.0,15.0,201.0,196.0,183.0,1448,418.0,4.0,426,422.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1403472,2015,4,1,3,US,448,N155UW,SLC,CLT,15,10.0,-5.0,10.0,20.0,232.0,221.0,205.0,1727,545.0,6.0,607,551.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1403473,2015,4,1,3,US,794,N563UW,LAX,PHL,15,5.0,-10.0,14.0,19.0,310.0,291.0,272.0,2402,751.0,5.0,825,756.0,-29.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1403474,2015,4,1,3,AA,1230,N3JJAA,SEA,DFW,15,12.0,-3.0,17.0,29.0,235.0,232.0,211.0,1660,600.0,4.0,610,604.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1403475,2015,4,1,3,DL,806,N584NW,SFO,MSP,15,12.0,-3.0,19.0,31.0,212.0,195.0,171.0,1589,522.0,5.0,547,527.0,-20.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1888617,2015,4,30,4,B6,839,N793JB,JFK,BQN,2359,2356.0,-3.0,23.0,19.0,220.0,228.0,197.0,1576,336.0,8.0,339,344.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1888618,2015,4,30,4,B6,745,N766JB,JFK,PSE,2359,2353.0,-6.0,18.0,11.0,229.0,226.0,204.0,1617,335.0,4.0,348,339.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1888619,2015,4,30,4,B6,1503,N663JB,JFK,SJU,2359,2358.0,-1.0,28.0,26.0,221.0,233.0,201.0,1598,347.0,4.0,340,351.0,11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1888620,2015,4,30,4,B6,98,N521JB,DEN,JFK,2359,14.0,15.0,13.0,27.0,215.0,227.0,211.0,1626,558.0,3.0,534,601.0,27.0,0,0,NaN,12.0,0.0,15.0,0.0,0.0
1888621,2015,4,30,4,DL,1979,N3748Y,LAS,DTW,2359,2356.0,-3.0,11.0,7.0,225.0,224.0,206.0,1749,633.0,7.0,644,640.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
flights.sort_values('AIRLINE')

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
393262,2015,1,26,1,AA,1221,N3FMAA,MCO,ORD,1925,...,2210.0,51.0,0,0,NaN,0.0,0.0,51.0,0.0,0.0
2248164,2015,5,23,6,AA,1047,N586AA,SLC,DFW,730,...,1119.0,13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3902560,2015,8,30,7,AA,793,N758US,CLT,STL,2029,...,2109.0,-14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2248165,2015,5,23,6,AA,1145,N3CSAA,ORD,SFO,730,...,1005.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2248166,2015,5,23,6,AA,1327,N028AA,DFW,MEM,730,...,848.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2829393,2015,6,27,6,WN,1021,N791SW,FLL,ALB,1025,...,1403.0,33.0,0,0,NaN,6.0,0.0,0.0,0.0,27.0
2829394,2015,6,27,6,WN,3024,N293WN,HOU,PHX,1025,...,1052.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2829395,2015,6,27,6,WN,1301,N789SW,LAS,BUR,1025,...,1144.0,14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2829386,2015,6,27,6,WN,3253,N669SW,OAK,ONT,1025,...,1139.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2909539,2015,7,2,4,WN,4909,N256WN,HOU,LAS,800,...,848.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
flights.filter(['AIRLINE', 'TAIL_NUMBER'])

        AIRLINE TAIL_NUMBER
0            AS      N407AS
1            AA      N3KUAA
2            US      N171US
3            AA      N3HYAA
4            AS      N527AS
...         ...         ...
5819074      B6      N657JB
5819075      B6      N828JB
5819076      B6      N913JB
5819077      B6      N527JB
5819078      B6      N534JB

[5819079 rows x 2 columns]

In [29]:
flights.query('DAY_OF_WEEK == 2')

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
79025,2015,1,6,2,AA,2400,N3ENAA,LAX,DFW,5,...,507.0,13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
79026,2015,1,6,2,AS,98,N597AS,ANC,SEA,5,...,405.0,-25.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
79027,2015,1,6,2,US,2020,N289AY,PHX,CLT,15,...,604.0,15.0,0,0,NaN,15.0,0.0,0.0,0.0,0.0
79028,2015,1,6,2,AA,258,N3KJAA,LAX,MIA,20,...,813.0,9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
79029,2015,1,6,2,AS,135,N435AS,SEA,ANC,25,...,256.0,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5789681,2015,12,29,2,B6,98,N629JB,DEN,JFK,2359,...,519.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5789682,2015,12,29,2,B6,333,N633JB,MCO,SJU,2359,...,342.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5789683,2015,12,29,2,B6,839,N775JB,JFK,BQN,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5789684,2015,12,29,2,B6,1248,N907JB,LAS,JFK,2359,...,753.0,12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5789685,2015,12,29,2,B6,1503,N954JB,JFK,SJU,2359,...,440.0,0.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
flights.groupby('ORIGIN_AIRPORT').count()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
ORIGIN_AIRPORT,,,,,,,,,,,,,,,,,,,,,
10135,239,239,239,239,239,239,239,239,239,239,...,239,239,239,239,0,41,41,41,41,41
10136,201,201,201,201,201,201,201,201,201,194,...,194,192,201,201,7,22,22,22,22,22
10140,1816,1816,1816,1816,1816,1816,1816,1816,1816,1810,...,1809,1805,1816,1816,7,236,236,236,236,236
10141,71,71,71,71,71,71,71,71,71,70,...,70,70,71,71,1,9,9,9,9,9
10146,87,87,87,87,87,87,87,87,87,87,...,87,86,87,87,0,11,11,11,11,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WRG,664,664,664,664,664,664,664,664,664,653,...,649,649,664,664,11,114,114,114,114,114
WYS,208,208,208,208,208,208,208,208,208,208,...,208,208,208,208,0,15,15,15,15,15
XNA,9283,9283,9283,9283,9283,9283,9282,9283,9283,8997,...,8986,8963,9283,9283,296,2024,2024,2024,2024,2024
YAK,662,662,662,662,662,662,662,662,662,657,...,650,650,662,662,5,71,71,71,71,71
YUM,1877,1877,1877,1877,1877,1877,1877,1877,1877,1854,...,1854,1854,1877,1877,23,200,200,200,200,200

### 1. What flights were the most delayed in 2015? (Top 50)

In [237]:
df1 = flights.set_index('AIRLINE').join(airlines.set_index('IATA_CODE'))

In [142]:
df1.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,AIRLINE
AA,2015,1,1,4,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,12.0,14.0,280.0,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,American Airlines Inc.
AA,2015,1,1,4,258,N3HYAA,LAX,MIA,20,15.0,-5.0,15.0,30.0,285.0,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,American Airlines Inc.
AA,2015,1,1,4,1112,N3LAAA,SFO,DFW,30,19.0,-11.0,17.0,36.0,195.0,193.0,173.0,1464,529.0,3.0,545,532.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,American Airlines Inc.
AA,2015,1,1,4,1674,N853AA,LAS,MIA,35,27.0,-8.0,21.0,48.0,268.0,266.0,238.0,2174,746.0,7.0,803,753.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,American Airlines Inc.
AA,2015,1,1,4,371,N3GXAA,SEA,MIA,100,52.0,-8.0,30.0,122.0,338.0,347.0,311.0,2724,933.0,6.0,938,939.0,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,American Airlines Inc.

In [147]:
df = df1.sort_values(by = 'DEPARTURE_DELAY', ascending=False)
df = df[['AIRLINE', 'MONTH', 'DAY','YEAR', 'DEPARTURE_DELAY', 'CANCELLED']]

In [148]:
df.loc[df['CANCELLED'] == 0].head(50)

                         AIRLINE  MONTH  DAY  YEAR  DEPARTURE_DELAY  CANCELLED
AA        American Airlines Inc.      1   23  2015           1988.0          0
AA        American Airlines Inc.      8    1  2015           1878.0          0
AA        American Airlines Inc.      9   13  2015           1670.0          0
AA        American Airlines Inc.     12   31  2015           1649.0          0
AA        American Airlines Inc.     11   27  2015           1631.0          0
AA        American Airlines Inc.      7   13  2015           1625.0          0
AA        American Airlines Inc.      3   24  2015           1609.0          0
AA        American Airlines Inc.      1   18  2015           1604.0          0
AA        American Airlines Inc.      3    4  2015           1589.0          0
AA        American Airlines Inc.      2   28  2015           1587.0          0
AA        American Airlines Inc.     12   14  2015           1576.0          0
AA        American Airlines Inc.     10   12  2015           1573.0          0
AA        American Airlines Inc.      3   10  2015           1557.0          0
AA        American Airlines Inc.      1   27  2015           1551.0          0
MQ  American Eagle Airlines Inc.     10   27  2015           1544.0          0
AA        American Airlines Inc.      4   28  2015           1542.0          0
AA        American Airlines Inc.     11   15  2015           1536.0          0
AA        American Airlines Inc.      3   25  2015           1523.0          0
AA        American Airlines Inc.      6   22  2015           1522.0          0
MQ  American Eagle Airlines Inc.     10   26  2015           1521.0          0
AA        American Airlines Inc.      8   23  2015           1515.0          0
AA        American Airlines Inc.      6   22  2015           1496.0          0
AA        American Airlines Inc.      5   21  2015           1492.0          0
AA        American Airlines Inc.      6   19  2015           1480.0          0
AA        American Airlines Inc.     11    2  2015           1475.0          0
AA        American Airlines Inc.      9   26  2015           1471.0          0
AA        American Airlines Inc.      3   28  2015           1461.0          0
AA        American Airlines Inc.      5    7  2015           1458.0          0
AA        American Airlines Inc.      1   21  2015           1457.0          0
AA        American Airlines Inc.      2   22  2015           1457.0          0
AA        American Airlines Inc.      1   11  2015           1450.0          0
AA        American Airlines Inc.     10    4  2015           1444.0          0
HA        Hawaiian Airlines Inc.      2    8  2015           1433.0          0
HA        Hawaiian Airlines Inc.      2    9  2015           1429.0          0
AA        American Airlines Inc.      8    1  2015           1402.0          0
AA        American Airlines Inc.      1   13  2015           1399.0          0
AA        American Airlines Inc.      7   18  2015           1393.0          0
AA        American Airlines Inc.      6   25  2015           1384.0          0
AA        American Airlines Inc.      1    3  2015           1380.0          0
OO         Skywest Airlines Inc.     12   29  2015           1378.0          0
AA        American Airlines Inc.      5   10  2015           1377.0          0
MQ  American Eagle Airlines Inc.     10   27  2015           1376.0          0
AA        American Airlines Inc.      3    1  2015           1375.0          0
AA        American Airlines Inc.      2   19  2015           1367.0          0
AA        American Airlines Inc.      1   24  2015           1367.0          0
AA        American Airlines Inc.      2    4  2015           1365.0          0
AA        American Airlines Inc.      2   25  2015           1362.0          0
AA        American Airlines Inc.      2   16  2015           1347.0          0
AA        American Airlines Inc.     11    8  2015           1345.0          0
AA        American Airlines Inc.      9   17  2015           1341.0          0

### 2. What is the average delay for each airline in minutes?

In [155]:
df_avg_delay = df1.groupby(['AIRLINE'])['DEPARTURE_DELAY'].mean()

In [167]:
print(df_avg_delay.sort_values(ascending = False))

AIRLINE
Spirit Air Lines                15.944766
United Air Lines Inc.           14.435441
Frontier Airlines Inc.          13.350858
JetBlue Airways                 11.514353
Southwest Airlines Co.          10.581986
American Eagle Airlines Inc.    10.125188
Virgin America                   9.022595
American Airlines Inc.           8.900856
Atlantic Southeast Airlines      8.715934
Skywest Airlines Inc.            7.801104
Delta Air Lines Inc.             7.369254
US Airways Inc.                  6.141137
Alaska Airlines Inc.             1.785801
Hawaiian Airlines Inc.           0.485713
Name: DEPARTURE_DELAY, dtype: float64

### 3. How many of each airline's flights were delayed over 30 minutes?

In [177]:
df_30min_delay = df1.query('DEPARTURE_DELAY > 30')

In [178]:
df_30min_delay.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,AIRLINE
AA,2015,1,1,4,1057,N3ASAA,DFW,MIA,515,703.0,108.0,15.0,718.0,161.0,155.0,133.0,1121,1031.0,7.0,856,1038.0,102.0,0,0,NaN,0.0,0.0,0.0,0.0,102.0,American Airlines Inc.
AA,2015,1,1,4,89,N3KVAA,IAH,MIA,520,618.0,58.0,19.0,637.0,141.0,137.0,111.0,964,928.0,7.0,841,935.0,54.0,0,0,NaN,0.0,0.0,54.0,0.0,0.0,American Airlines Inc.
AA,2015,1,1,4,328,N4XKAA,DEN,DFW,530,623.0,53.0,32.0,655.0,125.0,138.0,96.0,641,931.0,10.0,835,941.0,66.0,0,0,NaN,13.0,0.0,53.0,0.0,0.0,American Airlines Inc.
AA,2015,1,1,4,2299,N3LLAA,JFK,MIA,545,640.0,55.0,17.0,657.0,185.0,199.0,152.0,1089,929.0,30.0,850,959.0,69.0,0,0,NaN,14.0,0.0,55.0,0.0,0.0,American Airlines Inc.
AA,2015,1,1,4,233,N3BEAA,BWI,MIA,600,643.0,43.0,21.0,704.0,163.0,151.0,124.0,946,908.0,6.0,843,914.0,31.0,0,0,NaN,0.0,0.0,31.0,0.0,0.0,American Airlines Inc.

In [179]:
df_delay_count = df_30min_delay.groupby('AIRLINE').count()

In [246]:
df_delay_count = df_delay_count['DEPARTURE_DELAY'].sort_values(ascending = False)

In [248]:
df_delay_count = df_delay_count.to_frame()

In [261]:
df_delay_count.reset_index(inplace = True)
df_delay_count

                         AIRLINE  DEPARTURE_DELAY
0         Southwest Airlines Co.           146585
1         American Airlines Inc.            76339
2          United Air Lines Inc.            74001
3           Delta Air Lines Inc.            69353
4    Atlantic Southeast Airlines            64128
5          Skywest Airlines Inc.            63574
6                JetBlue Airways            36693
7   American Eagle Airlines Inc.            36480
8               Spirit Air Lines            20876
9                US Airways Inc.            17155
10        Frontier Airlines Inc.            13548
11          Alaska Airlines Inc.            10459
12                Virgin America             6772
13        Hawaiian Airlines Inc.             2407

In [427]:
# Need total number of flights per airline too
df_total = df1.groupby('AIRLINE').count()
df_total.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
AIRLINE,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Alaska Airlines Inc.,172521,172521,172521,172521,172521,172521,172521,172521,172521,171910,171910,171881,171881,172521,171439,171439,172521,171692,171692,172521,171692,171439,172521,172521,669,22352,22352,22352,22352,22352
American Airlines Inc.,725984,725984,725984,725984,725984,723673,725984,725984,725984,715598,715598,715127,715127,725984,712935,712935,725984,714855,714855,725984,714855,712935,725984,725984,10919,130279,130279,130279,130279,130279
American Eagle Airlines Inc.,294632,294632,294632,294632,294632,294584,294632,294632,294632,280282,280282,279728,279728,294632,278791,278791,294632,279431,279431,294632,279431,278791,294632,294632,15025,60547,60547,60547,60547,60547
Atlantic Southeast Airlines,571977,571977,571977,571977,571977,571907,571977,571977,571977,557294,557294,556866,556866,571977,554752,554752,571977,556425,556425,571977,556425,554752,571977,571977,15231,109184,109184,109184,109184,109184
Delta Air Lines Inc.,875881,875881,875881,875881,875881,875855,875881,875881,875881,872177,872177,872094,872094,875881,870275,870275,875881,871946,871946,875881,871946,870275,875881,875881,3824,118023,118023,118023,118023,118023

In [428]:
df_total = df_total['YEAR'].sort_values(ascending = False) 
# Picked other column to get total count
# DEPARTURE_DELAY column contains some null values

In [429]:
df_total = df_total.to_frame()

In [430]:
df_total.reset_index(inplace = True) # Making Airline index a column

In [431]:
df_total

                         AIRLINE     YEAR
0         Southwest Airlines Co.  1261855
1           Delta Air Lines Inc.   875881
2         American Airlines Inc.   725984
3          Skywest Airlines Inc.   588353
4    Atlantic Southeast Airlines   571977
5          United Air Lines Inc.   515723
6   American Eagle Airlines Inc.   294632
7                JetBlue Airways   267048
8                US Airways Inc.   198715
9           Alaska Airlines Inc.   172521
10              Spirit Air Lines   117379
11        Frontier Airlines Inc.    90836
12        Hawaiian Airlines Inc.    76272
13                Virgin America    61903

In [416]:
df_30min_join = df_delay_count.set_index('AIRLINE').join(df_total.set_index('AIRLINE'))
df_30min_join = df_30min_join.rename(columns = {'DEPARTURE_DELAY': '30min_delay_count', 
                               'YEAR': 'total_count'})    
df_30min_join

                              30min_delay_count  total_count
AIRLINE
Southwest Airlines Co.                   146585      1261855
American Airlines Inc.                    76339       725984
United Air Lines Inc.                     74001       515723
Delta Air Lines Inc.                      69353       875881
Atlantic Southeast Airlines               64128       571977
Skywest Airlines Inc.                     63574       588353
JetBlue Airways                           36693       267048
American Eagle Airlines Inc.              36480       294632
Spirit Air Lines                          20876       117379
US Airways Inc.                           17155       198715
Frontier Airlines Inc.                    13548        90836
Alaska Airlines Inc.                      10459       172521
Virgin America                             6772        61903
Hawaiian Airlines Inc.                     2407        76272

In [321]:
# Add new column for delay fraction
df_30min_join['delay_fraction'] = (df_30min_join['30min_delay_count']/
                                  df_30min_join['total_count'])
df_30min_join.sort_values(by = ['delay_fraction'], ascending = False)

                              30min_delay_count  total_count  delay_fraction
AIRLINE
Spirit Air Lines                          20876       117379        0.177851
Frontier Airlines Inc.                    13548        90836        0.149148
United Air Lines Inc.                     74001       515723        0.143490
JetBlue Airways                           36693       267048        0.137402
American Eagle Airlines Inc.              36480       294632        0.123815
Southwest Airlines Co.                   146585      1261855        0.116166
Atlantic Southeast Airlines               64128       571977        0.112116
Virgin America                             6772        61903        0.109397
Skywest Airlines Inc.                     63574       588353        0.108054
American Airlines Inc.                    76339       725984        0.105152
US Airways Inc.                           17155       198715        0.086330
Delta Air Lines Inc.                      69353       875881        0.079181
Alaska Airlines Inc.                      10459       172521        0.060625
Hawaiian Airlines Inc.                     2407        76272        0.031558

### 4. What is the average runway time per airline?

In [347]:
df_runway = df1[['AIRLINE','ELAPSED_TIME', 'AIR_TIME']]

In [348]:
df_runway['runway_time'] = df1['ELAPSED_TIME'] - df1['AIR_TIME']

<ipython-input-348-a7861bfd45f3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_runway['runway_time'] = df1['ELAPSED_TIME'] - df1['AIR_TIME']

In [341]:
df_runway_avg = df_runway.groupby('AIRLINE').mean()

In [342]:
df_runway_avg.sort_values(by = 'runway_time', ascending = False)

                              ELAPSED_TIME    AIR_TIME  runway_time
AIRLINE
US Airways Inc.                 152.402455  125.774234    26.628221
American Airlines Inc.          166.433282  139.806208    26.627074
United Air Lines Inc.           190.745816  164.835886    25.909930
American Eagle Airlines Inc.     92.593516   66.979630    25.613886
Skywest Airlines Inc.           100.724558   75.655010    25.069548
Frontier Airlines Inc.          155.056677  130.240571    24.816106
Delta Air Lines Inc.            140.471965  115.665353    24.806612
Atlantic Southeast Airlines      97.124247   72.763842    24.360404
Spirit Air Lines                156.503598  132.347886    24.155713
JetBlue Airways                 167.838858  143.858492    23.980366
Virgin America                  205.558435  182.630796    22.927638
Alaska Airlines Inc.            179.339788  157.844784    21.495004
Southwest Airlines Co.          121.201368  103.100485    18.100883
Hawaiian Airlines Inc.          102.672269   84.881314    17.790955

### 5. How many flights per airline are on the runway > 45 minutes?

In [351]:
df_runway_45min = df_runway.query('runway_time > 45')

In [398]:
df_runway_45min_avg = df_runway_45min.groupby('AIRLINE').count()

In [399]:
df_runway_45min_avg

                              ELAPSED_TIME  AIR_TIME  runway_time
AIRLINE
Alaska Airlines Inc.                  2198      2198         2198
American Airlines Inc.               38043     38043        38043
American Eagle Airlines Inc.         16855     16855        16855
Atlantic Southeast Airlines          20942     20942        20942
Delta Air Lines Inc.                 35645     35645        35645
Frontier Airlines Inc.                3864      3864         3864
Hawaiian Airlines Inc.                 244       244          244
JetBlue Airways                      11848     11848        11848
Skywest Airlines Inc.                21310     21310        21310
Southwest Airlines Co.               13671     13671        13671
Spirit Air Lines                      5315      5315         5315
US Airways Inc.                      11880     11880        11880
United Air Lines Inc.                24272     24272        24272
Virgin America                        1923      1923         1923

In [400]:
df_runway_45min_avg = df_runway_45min_avg.drop(['ELAPSED_TIME','AIR_TIME'], axis = 1)

In [401]:
df_runway_45min_avg = df_runway_45min_avg.rename(
    columns = {'runway_time':'45min_runway_count'})

In [402]:
df_runway_45min_avg

                              45min_runway_count
AIRLINE
Alaska Airlines Inc.                        2198
American Airlines Inc.                     38043
American Eagle Airlines Inc.               16855
Atlantic Southeast Airlines                20942
Delta Air Lines Inc.                       35645
Frontier Airlines Inc.                      3864
Hawaiian Airlines Inc.                       244
JetBlue Airways                            11848
Skywest Airlines Inc.                      21310
Southwest Airlines Co.                     13671
Spirit Air Lines                            5315
US Airways Inc.                            11880
United Air Lines Inc.                      24272
Virgin America                              1923

In [404]:
type(df_runway_45min_avg)

pandas.core.frame.DataFrame

In [403]:
df_runway_45min_avg.sort_values('45min_runway_count', 
                               ascending = False)

                              45min_runway_count
AIRLINE
American Airlines Inc.                     38043
Delta Air Lines Inc.                       35645
United Air Lines Inc.                      24272
Skywest Airlines Inc.                      21310
Atlantic Southeast Airlines                20942
American Eagle Airlines Inc.               16855
Southwest Airlines Co.                     13671
US Airways Inc.                            11880
JetBlue Airways                            11848
Spirit Air Lines                            5315
Frontier Airlines Inc.                      3864
Alaska Airlines Inc.                        2198
Virgin America                              1923
Hawaiian Airlines Inc.                       244

In [432]:
# Need to add total again then delay_fraction
df1_total = df_total.set_index('AIRLINE')

In [433]:
df1_total

                                 YEAR
AIRLINE
Southwest Airlines Co.        1261855
Delta Air Lines Inc.           875881
American Airlines Inc.         725984
Skywest Airlines Inc.          588353
Atlantic Southeast Airlines    571977
United Air Lines Inc.          515723
American Eagle Airlines Inc.   294632
JetBlue Airways                267048
US Airways Inc.                198715
Alaska Airlines Inc.           172521
Spirit Air Lines               117379
Frontier Airlines Inc.          90836
Hawaiian Airlines Inc.          76272
Virgin America                  61903

In [435]:
# Join 
df_45join = df_runway_45min_avg.join(df1_total)

In [442]:
df_45join = df_45join.rename(columns = {'YEAR': 'total_count'})

In [443]:
df_45join['delay_fraction'] = (df_45join['45min_runway_count'] / 
                               df_45join['total_count'])

In [445]:
df_45join.sort_values(by = 'delay_fraction', ascending = False)

                              45min_runway_count  total_count  delay_fraction
AIRLINE
US Airways Inc.                            11880       198715        0.059784
American Eagle Airlines Inc.               16855       294632        0.057207
American Airlines Inc.                     38043       725984        0.052402
United Air Lines Inc.                      24272       515723        0.047064
Spirit Air Lines                            5315       117379        0.045281
JetBlue Airways                            11848       267048        0.044367
Frontier Airlines Inc.                      3864        90836        0.042538
Delta Air Lines Inc.                       35645       875881        0.040696
Atlantic Southeast Airlines                20942       571977        0.036613
Skywest Airlines Inc.                      21310       588353        0.036220
Virgin America                              1923        61903        0.031065
Alaska Airlines Inc.                        2198       172521        0.012740
Southwest Airlines Co.                     13671      1261855        0.010834
Hawaiian Airlines Inc.                       244        76272        0.003199

### 6. How many fewer flights took place on Thanksgiving in 2015? Compared to total flights in 2015

In [546]:
df_nov = df1.query('MONTH == 11')

In [547]:
df_nov = df_nov.groupby('DAY').count()

In [548]:
total_flights = df_nov['YEAR'].sum()
print(total_flights)

467972

In [549]:
df_nov = df_nov['YEAR']

In [550]:
df_nov = df_nov.to_frame()

In [551]:
df_nov = df_nov.rename(columns = {'YEAR' : 'flights_per_day'})

In [552]:
df_nov

     flights_per_day
DAY
1              15652
2              16596
3              15918
4              16363
5              16619
6              16600
7              12793
8              15679
9              16470
10             16026
11             16308
12             16599
13             16572
14             12793
15             15691
16             16489
17             16075
18             16379
19             16661
20             16639
21             12964
22             14991
23             14808
24             16083
25             16725
26             10068
27             12813
28             16072
29             17574
30             16952

In [553]:
nov_avg = df_nov['flights_per_day'].mean()

In [554]:
df_nov['avg_nov_flights'] = nov_avg

In [555]:
df_nov

     flights_per_day  avg_nov_flights
DAY
1              15652     15599.066667
2              16596     15599.066667
3              15918     15599.066667
4              16363     15599.066667
5              16619     15599.066667
6              16600     15599.066667
7              12793     15599.066667
8              15679     15599.066667
9              16470     15599.066667
10             16026     15599.066667
11             16308     15599.066667
12             16599     15599.066667
13             16572     15599.066667
14             12793     15599.066667
15             15691     15599.066667
16             16489     15599.066667
17             16075     15599.066667
18             16379     15599.066667
19             16661     15599.066667
20             16639     15599.066667
21             12964     15599.066667
22             14991     15599.066667
23             14808     15599.066667
24             16083     15599.066667
25             16725     15599.066667
26             10068     15599.066667
27             12813     15599.066667
28             16072     15599.066667
29             17574     15599.066667
30             16952     15599.066667

In [556]:
df_nov['diff_from_avg'] = df_nov['flights_per_day'] - df_nov['avg_nov_flights']

In [557]:
df_nov # Thanksgiving was 11/26/2015

     flights_per_day  avg_nov_flights  diff_from_avg
DAY
1              15652     15599.066667      52.933333
2              16596     15599.066667     996.933333
3              15918     15599.066667     318.933333
4              16363     15599.066667     763.933333
5              16619     15599.066667    1019.933333
6              16600     15599.066667    1000.933333
7              12793     15599.066667   -2806.066667
8              15679     15599.066667      79.933333
9              16470     15599.066667     870.933333
10             16026     15599.066667     426.933333
11             16308     15599.066667     708.933333
12             16599     15599.066667     999.933333
13             16572     15599.066667     972.933333
14             12793     15599.066667   -2806.066667
15             15691     15599.066667      91.933333
16             16489     15599.066667     889.933333
17             16075     15599.066667     475.933333
18             16379     15599.066667     779.933333
19             16661     15599.066667    1061.933333
20             16639     15599.066667    1039.933333
21             12964     15599.066667   -2635.066667
22             14991     15599.066667    -608.066667
23             14808     15599.066667    -791.066667
24             16083     15599.066667     483.933333
25             16725     15599.066667    1125.933333
26             10068     15599.066667   -5531.066667
27             12813     15599.066667   -2786.066667
28             16072     15599.066667     472.933333
29             17574     15599.066667    1974.933333
30             16952     15599.066667    1352.933333

### 7. What is the most popular day for flights in September 2015?

In [629]:
df_sept = df1.query('MONTH == 9')

In [630]:
df_sept = df_sept.groupby('DAY_OF_WEEK').count()

In [631]:
df_sept.reset_index(inplace = True)

In [632]:
df_sept = df_sept[['DAY_OF_WEEK', 'YEAR']]
#df_runway = df1[['AIRLINE','ELAPSED_TIME', 'AIR_TIME']]

In [633]:
days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 
               'Friday', 'Saturday', 'Sunday']
count = 0
for i in days_of_week:
    
    df_sept['DAY_OF_WEEK'][count] = i
    count += 1
df_sept

<ipython-input-633-aed032f501e0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sept['DAY_OF_WEEK'][count] = i

  DAY_OF_WEEK   YEAR
0      Monday  64972
1     Tuesday  79315
2   Wednesday  80151
3    Thursday  65617
4      Friday  65658
5    Saturday  49508
6      Sunday  59725

In [634]:
df_sept = df_sept.set_index('DAY_OF_WEEK')

In [635]:
df_sept.sort_values(by = 'YEAR', ascending = False) # 1 = Monday

              YEAR
DAY_OF_WEEK
Wednesday    80151
Tuesday      79315
Friday       65658
Thursday     65617
Monday       64972
Sunday       59725
Saturday     49508

### 8. Which month contains the greatest number of flights?

In [652]:
df_month = df1.groupby('MONTH').count()

In [653]:
df_month = df_month['YEAR']

In [654]:
df_month = df_month.to_frame()
df_month.reset_index(inplace = True)

In [657]:
df_month = df_month.rename(columns = {'YEAR': 'num_flights'})

In [658]:
df_month

    MONTH  num_flights
0       1       469968
1       2       429191
2       3       504312
3       4       485151
4       5       496993
5       6       503897
6       7       520718
7       8       510536
8       9       464946
9      10       486165
10     11       467972
11     12       479230

In [660]:
month_lst = ['January','February','March','April','May','June',
            'July', 'August', 'September', 'October', 'November', 'December']
count = 0
for i in month_lst:
    
    df_month['MONTH'][count] = i
    count += 1
df_month

<ipython-input-660-4ad8a971b556>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_month['MONTH'][count] = i

        MONTH  num_flights
0     January       469968
1    February       429191
2       March       504312
3       April       485151
4         May       496993
5        June       503897
6        July       520718
7      August       510536
8   September       464946
9     October       486165
10   November       467972
11   December       479230

In [662]:
df_month = df_month.set_index('MONTH')

In [663]:
df_month.sort_values(by = 'num_flights', ascending = False)

           num_flights
MONTH
July            520718
August          510536
March           504312
June            503897
May             496993
October         486165
April           485151
December        479230
January         469968
November        467972
September       464946
February        429191